


.firstpara{
   background-image: url("img/sohel\ bangladesh\ flige1.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
}


.secondpara{
   background-image: url("img/Untitled-1.gif");
   background-repeat: no-repeat;
   background-size: cover; 
   background-position: center center;
}